Repository mena0018/Repair-Shop: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome format --write ., pnpm biome lint --write .

.lintstagedrc:

{
  "*/**/*.{json,css,md}": ["pnpm biome format --write ."],
  "*/**/*.{js,jsx,mjs,ts,tsx,yaml}": ["pnpm biome format --write .", "pnpm biome lint --write ."]
}

chore: format & lint existing files
  app/providers.tsx
  src/components/ui/button.tsx
  src/styles/theme/theme-provider.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

Merge pull request #1 from mena0018/feat/biome-js
  README.md
  app/layout.tsx
  app/providers.tsx
  biome.json
  src/styles/theme/theme-provider.tsx
  src/styles/theme/theme-toggle.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: add layout & dark mode
  app/(shop)/layout.tsx
  app/(shop)/template.tsx
  app/providers.tsx
  src/styles/theme/theme-toggle.tsx
  tailwind.config.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: implement basic pages of the shop
  app/(shop)/customers/page.tsx
  app/(shop)/home/page.tsx
  app/(shop)/tickets/page.tsx
  app/page.tsx
  src/components/header.tsx
  src/components/nav-button.tsx
  src/components/ui/card.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: add sentry for error monitoring
  .env.sample
  next.config.mjs
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation.ts
  src/lib/env.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :goal_net: add next js files for handling errors
  app/error.tsx
  app/global-error.tsx
  app/not-found.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: add metadata for each page of the shop
  app/(shop)/customers/page.tsx
  app/(shop)/home/page.tsx
  app/(shop)/tickets/page.tsx
  src/lib/site-config.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: biome configuration
  .vscode/settings.json
  biome.json
  package.json
Due: pnpm biome format --write .

chore: :wrench: format & lint existing files
  app/(shop)/layout.tsx
  app/error.tsx
  app/global-error.tsx
  app/not-found.tsx
  app/page.tsx
  src/components/header.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/styles/theme/theme-toggle.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

docs: :memo: check user story already done
  user-stories.md
Due: none

style: :lipstick: replace sans font with lato font
  app/(shop)/layout.tsx
  app/layout.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: set up authentication with kinde
  .env.sample
  app/api/auth/[kindeAuth]/route.ts
  app/login/page.tsx
  app/page.tsx
  middleware.ts
  package.json
  pnpm-lock.yaml
  src/components/header.tsx
  src/components/nav-button.tsx
  user-stories.md
Due: pnpm biome format --write ., pnpm biome lint --write .

fix: :lipstick: some UI issues
  app/error.tsx
  src/styles/theme/theme-toggle.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

build: :package: migrate project dependencies to React 19
  package.json
  pnpm-lock.yaml
Due: none

feat: :sparkles: set up prisma orm
  prisma/migrations/20240922155811_init/migration.sql
  prisma/migrations/20241208161356_customer_and_ticket_table/migration.sql
  prisma/schema.prisma
  src/lib/helper.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :seedling: add seed files for customers and tickets
  package.json
  pnpm-lock.yaml
  prisma/data/customers.ts
  prisma/data/tickets.ts
  prisma/seed.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

docs: :memo: update checklist for implemented features
  user-stories.md
Due: none

refactor: :recycle: refactor some details
  app/favicon.ico
  app/layout.tsx
  src/components/header.tsx
  src/components/providers.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: add customer and ticket form pages
  app/(shop)/customers/form/page.tsx
  app/(shop)/tickets/form/page.tsx
  src/components/back-button.tsx
  src/components/error-display.tsx
  src/lib/fetcher.ts
  src/services/customer.ts
  src/services/ticket.ts
  tsconfig.json
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :package: set up react hook form
  package.json
  pnpm-lock.yaml
Due: none

chore: :package: set up react hook form
  package.json
  pnpm-lock.yaml
  src/components/ui/form.tsx
  src/components/ui/label.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :lipstick: remove useSortedClasses in biome config
  biome.json
Due: none

feat: ✨ implement customer and ticket feature
  app/(shop)/customers/form/page.tsx
  app/(shop)/tickets/form/page.tsx
  src/features/customer/components/customer-form.tsx
  src/features/customer/services/customer.query.ts
  src/features/customer/types/customer.schema.ts
  src/features/ticket/components/ticket-form.tsx
  src/features/ticket/services/ticket.query.ts
  src/features/ticket/types/ticket.schema.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: implement react-hook-form components
  package.json
  pnpm-lock.yaml
  src/components/rhf/input-with-label.tsx
  src/components/rhf/select-with-label.tsx
  src/components/rhf/switch-with-label.tsx
  src/components/rhf/textarea-with-label.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: ✨ implement customer and ticket form
  src/features/customer/components/customer-form.tsx
  src/features/customer/components/customer-infos.tsx
  src/features/customer/services/customer.data.ts
  src/features/customer/types/customer.schema.ts
  src/features/ticket/components/ticket-form.tsx
  src/styles/globals.css
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :package: install kinde management api
  package.json
  pnpm-lock.yaml
Due: none

chore: :package: add type safety for env variables
  package.json
  pnpm-lock.yaml
  src/lib/env.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :lock: implement permissions & authorization
  app/(shop)/customers/form/page.tsx
  app/(shop)/tickets/form/page.tsx
  src/components/rhf/switch-with-label.tsx
  src/features/customer/components/customer-form.tsx
  src/features/customer/types/customer.schema.ts
  src/features/ticket/components/ticket-form.tsx
  src/features/ticket/types/ticket.schema.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: clean code & move files in right folder
  .vscode/tasks.json
  app/favicon.ico
  src/features/customer/helpers/customer.data.ts
  src/features/customer/helpers/customer.type.ts
  src/features/customer/services/customer.query.ts
  src/features/ticket/components/ticket-form.tsx
  src/features/ticket/helpers/ticket.schema.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :package: update `prisma` library
  .gitignore
  biome.json
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
  prisma/singleton.ts
  src/features/customer/components/customer-form.tsx
  src/features/customer/components/customer-infos.tsx
  src/features/customer/types/customer.schema.ts
  src/features/ticket/components/ticket-form.tsx
  tsconfig.json
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: increase varchar limit for state in Customer model
  prisma/migrations/20250128204801_update_state_limit/migration.sql
  prisma/schema.prisma
Due: none

refactor: :recycle: remove unique attribute in phone field
  prisma/migrations/20250201203147_update_phone_field/migration.sql
  prisma/schema.prisma
  src/features/customer/helpers/customer.type.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: customer and ticket features
  app/(shop)/customers/form/page.tsx
  app/(shop)/tickets/form/page.tsx
  src/features/customer/components/customer-form.tsx
  src/features/customer/helpers/customer.type.ts
  src/features/customer/index.ts
  src/features/customer/services/customer.query.ts
  src/features/ticket/components/ticket-form.tsx
  src/features/ticket/index.ts
  src/features/ticket/types/ticket.schema.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

feat: :sparkles: handle `error` pages in the app
  app/(error)/[...notFound]/page.tsx
  app/(error)/error.tsx
  app/(error)/global-error.tsx
  app/(error)/not-found.tsx
Due: pnpm biome format --write ., pnpm biome lint --write .

chore: :package: update `react` & `next` package
  package.json
  pnpm-lock.yaml
Due: none

chore: :package: upgrade to `Tailwind v4`
  app/(error)/error.tsx
  app/(error)/global-error.tsx
  app/(error)/not-found.tsx
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: update `shadcn` code
  package.json
  pnpm-lock.yaml
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/styles/globals.css
Due: pnpm biome format --write ., pnpm biome lint --write .

refactor: :recycle: replace `biome` by `eslint` & `prettier`
  .lintstagedrc
  .prettierignore
  .prettierrc.mjs
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm biome format --write .

chore: :lipstick: format existing files
  .env.sample
  .npmrc
  .nvmrc
  .prettierrc.mjs
  app/(error)/error.tsx
  app/(error)/global-error.tsx
  app/(error)/not-found.tsx
  app/(shop)/customers/form/page.tsx
  app/(shop)/layout.tsx
  app/(shop)/tickets/form/page.tsx
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  eslint.config.mjs
  package.json
  src/components/back-button.tsx
  src/components/header.tsx
  src/components/nav-button.tsx
  src/components/providers.tsx
  src/components/rhf/input-with-label.tsx
  src/components/rhf/select-with-label.tsx
  src/components/rhf/switch-with-label.tsx
  src/components/rhf/textarea-with-label.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/features/customer/components/customer-form.tsx
  src/features/ticket/components/ticket-form.tsx
  src/styles/globals.css
  src/styles/theme/theme-provider.tsx
  src/styles/theme/theme-toggle.tsx
  user-stories.md
Due: pnpm biome format --write ., pnpm biome lint --write .
